---
import { Image } from "astro:assets";
import checkmark from "@icons/checkmark.svg";
const { icon, img, title, text, reasons, cta } = Astro.props;
---

<div class="service-card">
    <Image src={img} alt={title} class="service-img" />
    <div class="text-content">
        <Image src={icon} alt={`${title} icon`} class="service-icon" />
        <h2 class="title">{title}</h2>
        <p class="desc">{text}</p>
        <ul class="reasons">
            {
                reasons?.map((reason) => (
                    <li>
                        <Image src={checkmark} alt={"checkmark"} />
                        {reason}
                    </li>
                ))
            }
        </ul>
        <a class="cta" href="/contact">{cta}</a>
    </div>
</div>

<style>
    .text-content {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        position: relative;
    }
    .service-card {
        border: 1px solid rgba(255, 255, 255, 0.301);
        border-radius: 6px;
    }
    .service-img {
        width: 100%;
        height: auto;
    }
    .service-icon {
        margin: -60px 0px 2rem 0px;
        align-self: center;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1rem 0px;
    }
    li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    a {
        background-color: var(--gold);
        color: black;
        display: flex;
        align-items: center;
        gap: 1rem;
        border: 2px solid var(--gold);
        border-radius: 6px;
        padding: 0.5rem 1rem;
        text-decoration: none;
        max-width: fit-content;
    }
    @media (min-width: 768px) {
        .service-card {
            width: 70%;
            margin: 0px auto;
        }
        .text-content {
            padding: 2rem;
            gap: 2rem;
        }
        .service-icon {
            margin: -95px 0px 2rem 0px;
        }
    }

    @media (min-width: 1024px) {
        .service-card {
            width: 660px;
        }
        .service-icon {
            grid-area: service-icon;
            margin: -80px auto 2rem auto;
        }
        .title {
            grid-area: title;
            font-size: 3rem;
        }
        .desc {
            grid-area: text-content;
        }
        .reasons {
            grid-area: reasons;
        }
        .cta {
            grid-area: cta;
        }
        .text-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "service-icon service-icon"
                "title title"
                "text-content reasons"
                "cta cta";
        }
        .service-img {
            width: 100%;
            object-fit: cover;
            height: 300px;
        }
    }
</style>
